{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists Search{% endblock %}
{% block content %}
<h3>Number of search results by name for "{{ search_term }}": {{ resultsByName|length }}</h3>
<ul class="items">
	{% for artist in resultsByName %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
<h3>Number of search results by city or state for "{{ search_term }}": {{ resultsByCityState|length }}</h3>
<ul class="items">
	{% for artist in resultsByCityState %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}